.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 25px;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left > h3 {
  letter-spacing: 2px;
  font-size: 0.8em;
  font-weight: 600;
}

.header__left > p {
  margin: 0px 3px;
  margin-left: 9px;
}

.header__left > .MuiSvgIcon-root {
  margin: 0px 7px;
  font-size: 0.9em;
}

.header__right {
  display: flex;
}

.link {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 16px;
}

.link > h3 {
  letter-spacing: 2px;
  font-size: 0.625em;
  transition-duration: 0.4s;
}

.link > h3:hover {
  color: #fab735;
}
